<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./assets/DLSUDLOGO.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            background-image: url('../assets/ictc.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -400px; /* Center the background image */
            height: 100vh;
            display: flex;
            align-items: right;
            justify-content: right; /* Center content horizontally */
        }
        
        .container {
            width: 50%;
            max-width: 600px; /* Set maximum width */
            padding: 40px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        
        h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #333333;
}


label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #333333;
            text-align: left;
            margin-left: 12px;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #B3B3B3;
}
        
        input[type="email"],
        input[type="adminum"],
        input[type="password"],
        button {
            width: calc(100% - 24px); /* Adjusted width calculation */
            padding: 12px;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        
        a {
            text-decoration: none;
            color: #1db954;
        }
        
        a:hover {
            text-decoration: none;
            color: #038903;
        }
        
        button {
            padding: 10px 20px;
            border-radius: 4px;
            background-color: #1db954;
            color: #fff;
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
    font-size: 18px;
        }
        
        button:hover {
            background-color: #038903;
        }
        
        .forgot-password {
            text-align: left;
            margin-bottom: 20px;
            margin-left: 10px;
        }
        
        
        .logo {
            margin-top: 80px;
            width: 200px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
        }

        @media only screen and (max-width: 600px) {
            body {
                margin: 0;
                background-image: none;
                overflow: hidden;
            }

            .container {
                width: 90%;
                max-width: none;
                padding: 100px 20px;
                text-align: center;
                box-shadow: none;
                margin: auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .logo {
                margin-top: 60px;
                width: 150px;
                height: auto;
            }

            .login-form {
                padding-top: 175px;
                padding-bottom: 175px;
            }

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 33px;
                color: #333333;
            }
        } 
        </style>
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS - Asset Management System</title>
</head>
<body>
    <div class="container">
        <!-- Login form -->
        <div class="login-form">
            <img src="./assets/ams_logo.png" alt="AMS Logo" class="logo" onclick="window.location.href='indexwelcomepage.ejs'" style="cursor: pointer;">
            <h1>Welcome back</h1>
            <form id="loginForm" action="/indexcustodianlogin" method="POST">
                <label for="name">User ID:</label>
                <input type="adminum" id="adminum" name="adminum" placeholder="User ID" required><br><br>
                <label for="name">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required><br><br>
                <button type="submit">Login
                </button><br><br>
            </form>
          
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const loginForm = document.getElementById("loginForm");
            const errorMessage = document.getElementById("errorMessage");
            loginForm.addEventListener("submit", async function(event) {
                event.preventDefault();
                const adminum = document.getElementById("adminum").value;
                const password = document.getElementById("password").value;

                try {
                    const response = await fetch("/indexcustodianlogin", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ adminum, password }),
                    });

                    if (response.ok) {
                        console.log('correct')
                        const jsonResponse = await response.json();
                        console.log()
                        await localStorage.setItem("lastName", jsonResponse.auth.last_name);
                        window.location.href = "/indexcustodianhomepage.ejs";
                    } else {
                        const errorMessageText = await response.json();
                        errorMessage.textContent = errorMessageText.error;
                    }
                } catch (error) {
                    console.error("Error during login:", error);
                }
            });
        });
    </script>
</body>
</html>