<!DOCTYPE html> <!--FINISHED MARCH 07, 2024-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./assets/DLSUDLOGO.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        /* Basic styling - add more as needed */
        body {
    margin: 0;
    background-image: url("../assets/ictc.png");
    background-size: cover;
    background-position: -400px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #333333;
}

.container {
    display: flex;
    justify-content: flex-end; /* Align container to the right side */
    align-items: center;
    height: 100vh;
}
.login-container {
    display: flex;
    flex-direction: row; /* Align elements horizontally */
    width: 50%; /* Take up 50% of the width of the page */
    height: 100vh; /* Adjusted to cover the entire viewport height */
}
.login-form {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333333;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #B3B3B3;
}

input[type="email"],
input[type="password"],
button {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #1db954;
}
a:hover {
    text-decoration: none;
    color: #15863d;
}
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: 20px;
    border-radius: 4px;
    background-color: #1db954;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #15863d;
}
.forgot-password {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10px;
}
.logo {
    margin-top: 115px;
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
    color: #333333;
    text-align: left;
    margin-left: 12px;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        background-image: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 0 20px;
        box-shadow: none; 
    }

    .login-container {
        width: 100%;
    }

    .logo {
                margin-top: 60px;
                width: 150px;
                height: auto;
            }

    .login-form {
        padding: 40px;
        box-shadow: none;
        width: 100%;
        text-align: center;
    }

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: #333333;
        margin-bottom: 30px;
    }
    button {
margin-top: -15px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: -25px;
    color: #333333;
}
}


    </style>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <!-- Login form -->
            <div class="login-form">
                <img src="./assets/ams_logo.png" alt="AMS Logo" class="logo" onclick="window.location.href='indexwelcomepage.ejs'" style="cursor: pointer;">


                <h2>Welcome back</h2>
                <form action="/indexborrowerlogin" method="POST" id="loginForm">
                    <label for="name">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email" required><br><br>
                    <label for="name">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password" required><br><br>
                    <button type="submit">Login
                    </button><br><br>
                </form>
                <p>Don't have an account? <a href="indexregisterborrowerpage.ejs">Sign up</a></p>
            </div>
        </div>
    </div> 
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const loginForm = document.getElementById("loginForm");
            const errorMessage = document.getElementById("errorMessage");
            loginForm.addEventListener("submit", async function (event) {
                event.preventDefault();
                const email = document.getElementById("email").value;
                const password = document.getElementById("password").value;

                try {
                    const response = await fetch("/indexborrowerlogin", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ email, password }),
                    });

                    if (response.ok) {
                        window.location.href = "/indexborrowforms";
                    } else {
                        const errorMessageText = await response.json();
                        errorMessage.textContent = errorMessageText.error;
                    }
                } catch (error) {
                    console.error("Error during login:", error);
                }
            });
        });
    </script>
</body>
</html>