<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="./assets/DLSUDLOGO.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS – Custodian Login</title>
    <link rel="stylesheet" href="/css/indexcustodianlogin.css">
</head>
<body>
    <div class="container">
        <!-- Login form -->
        <div class="login-form">
            <img src="./assets/ams_logo.png" alt="AMS Logo" class="logo" onclick="window.location.href='indexwelcomepage.ejs'" style="cursor: pointer;">
            <h1>Welcome back</h1>
            <form id="loginForm" action="/indexcustodianlogin" method="POST">
                <label for="name">User ID:</label>
                <input type="adminum" id="adminum" name="adminum" placeholder="Enter User ID" required><br><br>
                <label for="name">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter Password" required><br><br>
                <button type="submit">Login</button><br><br>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const loginForm = document.getElementById("loginForm");
            loginForm.addEventListener("submit", async function(event) {
                event.preventDefault();
                const adminum = document.getElementById("adminum").value;
                const password = document.getElementById("password").value;

                try {
                    const response = await fetch("/indexcustodianlogin", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ adminum, password }),
                    });

                    if (response.ok) {
                        const jsonResponse = await response.json();
                        localStorage.setItem("lastName", jsonResponse.auth.last_name);
                        window.location.href = "/indexcustodianhomepage.ejs";
                    } else {
                        alert("Incorrect Email or Password");
                    }
                } catch (error) {
                    console.error("Error during login:", error);
                }
            });
        });
    </script>
</body>
</html>
