
body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/ictc.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    width: 90%; /* Adjusted width to percentage */
    max-width: 400px; /* Maximum width for larger screens */
    height: auto; /* Adjusted to auto height */
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out;
    padding: 20px; /* Added padding */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.btn {
    display: block;
    width: 100%; /* Adjusted width to percentage */
    height: 50px;
    margin: 28px auto;
    padding: 12px 0; /* Adjusted padding */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.btn-green {
    background-color: #1db954;
    color: #ffffff;
}

.btn-outline-green {
    background-color: transparent;
    color: #1db954;
    border: 2px solid #1db954;
    margin-bottom: 40px;
}

.divider {
    margin: 20px 0;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.divider::before,
.divider::after {
    content: '';
    display: block;
    border-top: 1px solid #cccccc;
    width: 40%;
    position: absolute;
    top: 50%;
}

.divider::before {
    right: 5%;
}

.divider::after {
    left: 5%;
}

.btn:hover {
    transform: scale(1.05);
}

.logo {
    margin-top: 30px;
    width: 200px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 75%;
        max-width: 425px; /* Adjusted max-width to 425px */
        height: 450px; /* Adjusted height to 665px */
    }

    .btn {
        width: 90%;
        max-width: none;
    }

    img {
        width: 45%;
    }
}