
.update-button {
        background-color: transparent;
        color: #1db954; /* Green */
        border: 2px solid transparent;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
        margin-right: 5px;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }

    .update-button:hover {
        background-color: #28a745; /* Green */
        color: #fff; /* White text color on hover */
        border-color: #28a745; /* Green border on hover */
    }

    /* Navbar styling */
    .navbar {
        background-color: #f8f9fa; /* Change to desired color */
        z-index: 1000; /* Ensure it stays on top */
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .dropdown-menu {
        background-color: #f8f9fa; /* Change to desired color */
    }

    
    #asset-content202 table {
        width: 99%;
        max-width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-left: 5px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: auto; /* Allow horizontal scroll */
        animation: fadeIn 0.5s ease-in-out;
    }

    #asset-content202 h1 { 
        margin-left: 10px;
    }

    #asset-content202 th,
    #asset-content202 td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size: 15px;
    }

    #asset-content202 th {
        background-color: #f2f2f2;
    }

    #searchInput202 {
        margin-left: 10px; /* Adjust as needed */
    }

    .print-table { 
        background-color: #1db954; /* Same green color as the Print Table button */
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 5px;    
    }

    .print-table:hover {
        background-color: #116e30; /* Darker green on hover */
    }

    #welcomeText {
        font-weight: bold;
    }

    #authUsers {
        text-transform: capitalize; /* Capitalize the first letter of the username */
    }

    /* Pagination styling */
    #pagination {
        display: block;
            width: 440px;
            margin: 10px auto;
            align-content: center;
    }

    #pagination a {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 5px;
        background-color: #f8f9fa;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #333;
    }

    #pagination a.active {
        background-color: #00a100;
        color: #fff;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

    .content h1 {
            font-family: 'Montserrat', sans-serif;
            
        }
        #searchInput202 {
        width: 445px; /* Adjusted width to accommodate the print button */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        transition: border-color 0.3s ease;
    }

    #searchInput202:focus {
        outline: none;
        border-color: #087830;
    }

    #searchInput202::placeholder {
        color: #aaa;
    }

    /* Modal Styles */
    .modal-content {
        border-radius: 10px;
    }

    .modal-header {
        background-color: #1db954;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .modal-footer {
        border-radius: 0 0 10px 10px;
    }

    /* Animation */
    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY(-50%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes modalFadeOut {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-50%);
        }
    }

 /* Select Styles */
 #asset_status, #category_input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f9fa;
        transition: border-color 0.3s ease;
    }

    #asset_status:focus, #category_input:focus {
        outline: none;
        border-color: #00c600;
    }
#updateStatusBtn {
    background-color: #1db954;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.controls {
    display: flex;
    align-items: center; /* Align items to the center */
}

#assetcount202 {
    display: flex;
    flex-direction: column; /* Arrange child elements in a column */
    align-items: center; /* Center items horizontally */
    font-size: 18px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    color: #ffffff; /* Set text color */
    margin-left: 10px; /* Add some margin to separate it from other controls */
    margin-top: 5px;
}



.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.asset-summary-container {
    background-color: #333333;; /* Gray background */
    float: right; /* Align to the right */
    padding: 10px; /* Add padding for spacing */
    margin-top: -20px;
    margin-left: 775px; /* Adjust margin-left as needed */
    border-radius: 10px; /* Rounded borders */
    color: white; /* White text */
}

